<div class="container top-padding">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <caption></caption>
    <ng-container matColumnDef="name">
      <th id="" mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th id="" mat-header-cell *matHeaderCellDef>Code</th>
      <td mat-cell *matCellDef="let element">{{ element.code }}</td>
    </ng-container>

    <ng-container matColumnDef="iManday">
      <th id="" mat-header-cell *matHeaderCellDef>Implement manday(s)</th>
      <td mat-cell *matCellDef="let element">{{ element.iMandays }}</td>
    </ng-container>

    <ng-container matColumnDef="pManday">
      <th id="" mat-header-cell *matHeaderCellDef>Presale manday(s)</th>
      <td mat-cell *matCellDef="let element">{{ element.pMandays }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th id="" mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element;">
            <button class="btn edit-btn" (click)="onEdit(element)" >Edit</button>
            <button class="btn delete-btn" (click)="onDelete()">Delete</button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
