table {
  width: 100%;
}

.top-padding {
  padding-top: 50px;
}

button {
  height: 25px;
  font-size: 10px;
  vertical-align: middle;
  margin-right: 15px;
  color: black;
}

button:hover {
  color: black;
  background-color: rgb(113, 137, 218) !important;
}

.delete-btn {
  background-color: rgb(255, 94, 94) !important;
}
.edit-btn {
  background-color: rgb(174, 250, 154) !important;
}

.btn:focus {
  box-shadow: none;
}
