<div class="container">
    <div style="text-align: center;">
      <h2>{{dialogText}}</h2>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-4">
        <button class="btn btn-primary" (click)="onCancelBtn()">{{dialogLeftBtnText}}</button>
      </div>
      <div class="col-4">
        <button class="btn btn-primary" (click)="onOkayBtn()">{{dialogRightBtnText}}</button>
      </div>
    </div>
  </div>
  