<ng-container *ngIf="scrumData?.length == 0; else elseTemplate">
  <div class="container" *ngIf="scrumData?.length == 0">
    <h1 class="no-record-text">Please add a new record</h1>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div class="container" *ngFor="let item of scrumData; index as i">
    <record-card [data]="item" [index]="i"></record-card>
  </div>
</ng-template>
