<div class="container">
  <div style="text-align: center;">
    <h2>Are you sure to delete record on</h2>
    <h2>{{ scrumData.date }}?</h2>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-4">
      <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
    </div>
    <div class="col-4">
      <button class="btn btn-primary" (click)="onDelete()">Delete</button>
    </div>
  </div>
</div>
