<div class="container">
  <div class="row justify-content-md-end chart-top-padding">
    <button class="btn btn-primary" (click)="onNewProject()">
      + new Project
    </button>
  </div>
  <ng-container *ngIf="projectData.length > 0; else elseTemplate">
    <div class="row justify-content-center chart-top-padding">
      <div class="col-6">
        <ngx-charts-pie-chart
          [view]="[600, 400]"
          [arcWidth]="0.75"
          [doughnut]="true"
          [results]="projectData"
          [legendTitle]="'Project code'"
          [legend]="true"
          [gradient]="true"
        >
        </ngx-charts-pie-chart>
      </div>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <h1 class="no-record-text">Please add a new record</h1>
  </ng-template>
  <div class="chart-top-padding manday-detail-bottom-padding">
    <p *ngFor="let project of projectList">
      {{ project | mandaysDescriptionPipe }}
    </p>
  </div>
</div>
