/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.no-record-text {
  text-align: center;
  padding-top: 50px;
}
.top-padding {
  padding-top: 25px;
}
.input-size-and-border{
  height: 35px;
  border: solid 1px gray;
}
.description-input-size-and-border{
  height: 160px;
  /* width: 600px; */
  border: solid 1px gray;
}

.btn-primary{
  background-color:blueviolet !important;
  border: none;
}
